<div class="about infoPattern">
    <div class="header">
        <!--<img src="img/icons/mapMarker.png" alt="map marker icon">-->
        <div>Отель "Hotel"</div>
    </div>
    <div class="imageWrapper">
        <img class="mainImage" src="img/discounts.png" alt="map">
    </div>
    <div class="description">
        Гостиница "Hotel" входит в топ-10 лучших отелей и гостиниц в центре Киева.
        Комфортабельные номера гостиницы оснащены мини-сейфами, электронной системой безопасности, спутниковым TV, мини-барами,
        системой климат-контроль, системой управления звуком и светом, фенами, полами с подогревом в ванной комнате.
    </div>
</div>