<div class="home infoPattern">
    <div class="header">
        <div>Добро пожаловать на сайт отеля "Hotel"</div>
    </div>
    <div class="slider">
        <ul class="wrapper" data-currentSlide="0">
            <li><img src="img/gallery/1.jpg" alt="roomPhoto"></li>
            <li><img src="img/gallery/2.jpg" alt="roomPhoto"></li>
            <li><img src="img/gallery/3.jpg" alt="roomPhoto"></li>
        </ul>
    </div>

    <div class="description">
        Гостиница "Hotel" входит в топ-10 лучших отелей и гостиниц в центре Киева.
        Комфортабельные номера в центре столицы по доступным ценам!
    </div>
</div>