<div class="spaCenter infoPattern">
    <div class="header">
        <div>SPA-центр "Relax"</div>
    </div>
    <div class="imageWrapper">
        <img class="mainImage" src="img/spaCentre.jpg" alt="map">
    </div>
    <div class="description">
        Наш СПА-центр возле Киева использует только натуральные средства и препараты с
        максимально щадящим воздействием: во время процедур Вы вдыхаете целебные ароматы,
        они глубоко проникают в кожу и наполняют весь организм, природными жизненными силами.
        Воспользуйтесь чудесной возможностью физического и духовного обновления в СПА-центре  «Relax»
    </div>
</div>